* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #222;
}

nav {
	text-align: center;
}

nav a {
	font-size: 30px;
}

video {
	width: 25%;
}

img {
	width: 1%;
	image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}